.display {
    padding: 10px;
    background: #ffffff33;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
  }
  
  .input {
    font-size: 1.5em;
  }
  
  .result {
    font-size: 1.2em;
    color: #ffd700;
  }
  