body {
  background: linear-gradient(to right, #141E30, #243B55); /* New background */
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
